*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.component{
    background-image:linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.66)),
    url(images/weather.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width : 100%;
    height : 100vh;
}
.card{
    width:90%;
    max-width: 470px;
    background-image: linear-gradient(130deg, rgba(224, 197, 201, 0.737), rgba(164, 227, 227, 0.748), rgba(156, 213, 156, 0.742));
    color: black;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
    position: relative;
    margin: auto;
    top: 100px;

}
.search{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    
}
.search input{
    width: 300px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.search button {
    border-radius: 5%;
    width: 95px;
    border: none;
    background-color:black;
    color: white;
    font-size: 20px;
    cursor: pointer;
   
}
.search button:hover {
    box-shadow: 5px 5px 5px 2px rgb(107, 106, 106);
}

.search button img{
    border-radius: 20px;
    width: 15px;
    color: white;
}
.weather{
    display: none;
}
.others{
    display: flex;
    flex-direction: row;
    gap: 160px;
    margin-top: 60px;
}
.temp{
    font-size: 50px;
    color:white;
    margin: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.city{
    font-size: 30px;
    color:white;
    margin: 10px;

}
.humidity, .wind{
    display: flex;
   font-size: 20px;;
}
.percentage, .speed{
    color: rgb(36, 36, 36);
    font-size: 20px;;
}

.humidity img, .wind img{
    width: 50px;
    height: 50px;
    
}